body{
    font-family: Vazir;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px){
    .jumbotron{
        padding-top: 6rem;
        padding-bottom: 6rem;
    };

}

@media (min-width: 576px){
    .jumbotron {
        padding: 4rem 2rem;
    };
}

.box-shadow{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}