body{
    font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
    position: relative;
}

a{
    color: #e38cb7;
}

a:hover,
a:first{
    color: #d6616c;
}

h1{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-top: 1.5rem;
}

h2{
    font-size: 45px;
    font-weight: 300;
    color: #633991;
    letter-spacing: -1px;
    margin-top: 1.5rem;
}

h3{
    font-size: 33px;
    font-weight: 500;
    color: #633991;
}

h4{
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

p{
    color: #959094;
}

p.lead{
    color: #e38cb7;
    margin-bottom: 2rem;
}

.light-bg{
    background-color: #faf6fb;
}

.section{
    padding: 80px 0;
}

.section-title{
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small{
    color: #998a9b;
}

.btn{
    font-size: 12px;
    font-weight: 400;
    text-decoration: uppercase;
    padding: .37rem 1.35rem;
    transition: all .3s ease;
}

.btn-outline-light:hover{
    color: #d6619c;
}
/* ------------------------------------
                Navbar
--------------------------------------*/

.nav-menu{
    padding: 1rem 0;
    transition: all .3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open{
    background-color: rgb(74,13,143);
    background: linear-gradient(135deg , rgba(60,8,118,.9) 0% , rgba(250,0,118,.9) 100%);
    box-shadow: 0px 5px 23px 0px rgba(0,0,0,.1);
}

.nav-menu.is-scrolling{
    padding: 0;
}

.navbar-nav .nav-link{
    position: relative;
}

@media (min-width : 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 14px;
        padding: 0 1rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link.active::after{
        content: '';
        border-bottom: 2px solid #cd99d4;
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: -5px;
        height: 1px;
    }
}

@media (max-width : 991px){
    .navbar-nav .nav-item{
        text-align: center;
    }
}

/* ------------------------------------
                Header
--------------------------------------*/
header{
    padding: 100px 0 0;
    text-align: center;
    color: #fff;
}

.bg-gradientt {
    background-image: linear-gradient(135deg , rgba(60,8,118,.8) 0% , rgba(250,0,118,.8) 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}


.img-hoder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width : 1200px){
    .img-hoder{
        padding-bottom: 50%;
    }
}
@media (max-width : 767px){
    .img-hoder{
        padding-bottom: 100%;
    }
}

/* ------------------------------------
                Features
--------------------------------------*/
.gradient-fill::before{
    color: #fc73b4;
    background: linear-gradient(to bottom , #9477b4 0% , #fc73bf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.card.features{
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.04);
    transition: all .3s ease;
    position: relative !important;
}

@media(max-width : 991px){
    .card.features{
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card-features{
        margin-bottom: 0px;
    } 
}

.card.features::before{
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: linear-gradient(to bottom , #9477b4 0% , #fc73bf 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text{
    font-size: 14px;
}

.card.features:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,.08);   
}

.box-icon{
    box-shadow: 0px 0px 43px rgba(0,0,0,.14);
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    width: 70px;
    margin-bottom: 1.5rem;
}

.btn-primary {
    border-radius: 3px;
    background: linear-gradient(122deg ,#e54595 0% , #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgb(0,0,0,.2);
    font-weight: 500;
    padding: .6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.show>.btn-primary.dropdown-toggle{
    background-image: linear-gradient(122deg ,#e54595 0% , #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgb(0,0,0,.3);
    color: white;
}

.prespective-phone{
    position: relative;
    z-index: -1;
}

@media(min-width : 992px) {
    .prespective-phone{
        margin-top: -150px;
        margin-right: 80px;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }
}

/* ------------------------------------
                Tabs
--------------------------------------*/

.tab-content{
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 3rem;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.04);
}

.tab-content p{
    line-height: 1.8;   
}

.tab-content h2{
    margin-bottom: .5rem;
}

.nav-tabs{
    border-bottom: 0px;
    padding-right: 0px;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #fff;
    font-size: 19px;
    color: #b5a4c8;
    background: #f5eff7;
}

.nav-tabs .nav-link.active{
    background: #fff;
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #fff;
    color: #633991;
}