html{
    font-size: .9rem;
}

@media(min-width: 765px){
    html{
        font-size: 1rem;
    }
}

body{
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    font-weight: 300;
}

.box-shadow{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 5%);
}

.card-text ul li:hover{
    cursor: pointer;
}

footer ul a:hover{
    color: black !important;
}